{% load static %}
<!DOCTYPE html>
<html lang="ko-kr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Page</title>
    
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <script defer src="{% static 'js/main.js' %}"></script>
</head>
<body>
    <div class="header">
        <a href="{% url 'main' %}">
            <h1>Predict Emotion & Reconmmend Songs</h1>
        </a>
    </div>
    <div>
        <div class="camera_comp">
            <img src="http://127.0.0.1:8000/emotion_detector/off" class="camera hide">
        </div>
        <button type="button" class="btn btn-primary camera_btn">Turn on Camera</button>
        <a href="http://127.0.0.1:8000/emotion_detector/off/recomendation">
            <button type="button" class="btn btn-primary recomend_btn">Get Recommendations</button>
        </a>
        <a href="{% url 'main' %}">
            <button type="button" class="btn btn-primary init_btn">Initialization</button>
        </a>
        <div class="notice">
            <h5>If the camera doesn't turn on, please refresh <h5>
        </div>
        <div class="recomended_window">
            {% if not data %}
                <h5>{{msg}}</h5>
            {% else %}
            <table class="table table-success table-striped">
                <thead>
                    <tr>
                      <th scope="col"></th>
                      <th scope="col">Singer</th>
                      <th scope="col">Title</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for title, singer in data %}
                    <tr>
                      <th scope="row">{{forloop.counter}}</th>
                      <td>{{title}}</td>
                      <td>{{singer}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
            <h5>Emotion: {{emotion}}</h5>
            {% endif %}
        </div>
    </div>
</body>
</html>